@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rock+Salt&display=swap");

body {
	color: black !important;
	font-family: "Montserrat", sans-serif;
}

.brandlogo {
	font-family: "Rock Salt", cursive;
}

.navbar-nav .nav-item:last-child {
	margin-left: 10px;
}

.navbar-nav .nav-item:last-child .nav-link {
	padding: 10px;
	border-radius: 50%;
	background-color: #fff;
	color: #333;
}

.navbar-nav .nav-item:last-child .nav-link:hover {
	background-color: #333;
	color: #fff;
}
