@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rock+Salt&display=swap");

body {
	color: black !important;
	font-family: "Montserrat", sans-serif;
}

.brandlogo {
	font-family: "Rock Salt", cursive;
}
